<ion-header>
	<ion-navbar>
		<!--<button menuToggle>-->
			<!--<ion-icon name="menu"></ion-icon>-->
		<!--</button>-->
		<ion-title>{{'CATEGORIES' | translate}}</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>
	<!--<ion-list>
		<ion-item *ngFor="let category of categories" (click)="clicked($event, category)">			
			<h2>{{category.category_name}}</h2>
			<ion-list>
				<ion-item *ngFor="let subcategory of category.subcategories" (click)="loadCategory(subcategory)">
					<ion-icon name="arrow-forward" item-right></ion-icon>
					<h2>{{subcategory.category_name}}</h2>					
				</ion-item>
			</ion-list>
		</ion-item>
	</ion-list>-->


	<ion-list>
		<ion-item *ngFor="let category of categories; let i=index" text-wrap (click)="toggleLevel1('idx'+i, category)" [ngClass]="{active: isLevel1Shown('idx'+i)}">
		<h4>
			{{category.category_name}}
			<ion-icon item-right [name]="isLevel1Shown('idx'+i) ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
		</h4>
		<ion-list *ngIf="isLevel1Shown('idx'+i)">
			<ion-item *ngFor="let subcategory of subcategories; let i2=index" text-wrap (click)="loadCategory(subcategory)">
			<!--<ion-item *ngFor="let subcategory of subcategories; let i2=index" text-wrap (click)="toggleLevel2('idx'+i+'idx'+i2)">-->
			<h4>
				{{subcategory.category_name}}
				<ion-icon item-right name="arrow-forward"></ion-icon>
			</h4>
			</ion-item>
		</ion-list>
		</ion-item>
	</ion-list>
</ion-content>



