<ion-split-pane>

  <ion-menu *ngIf="!wordpressMenusNavigation" [content]="content">
    <ion-header>
      <ion-toolbar>
        <ion-title>{{'MENU' | translate}}</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item menuClose ion-item *ngFor="let page of pages" (click)="openPage(page)">
        <ion-icon [name]="page.icon" item-left></ion-icon>
        {{page.title | translate}}
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-menu *ngIf="wordpressMenusNavigation" [content]="content">
    <ion-nav [root]="menuPage"></ion-nav>
  </ion-menu>

  <ion-nav [root]="rootPage" main #content></ion-nav>

</ion-split-pane>
