
.card-ios {
  margin: 0px;
  width: calc(100% - 0px);
  border-radius: 2px;
  font-size: 1.4rem;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.grid {
  background: #be8947;
}

.img {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}


.card-content-ios {
  padding: 13px 16px 0px 16px;
  font-size: 1.4rem;
  line-height: 1.4;
}
