<ion-header>
  <ion-navbar>
    <ion-title *ngIf="!category">{{'Home' | translate}}</ion-title>
    <ion-title *ngIf="category">{{category.category_name}}</ion-title>
    <ion-buttons end>
      <button (click)="toggleSearchbar()" ion-button icon-only>
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar [hidden]="hideSearchbar">
    <ion-searchbar [(ngModel)]="search" (ionInput)="searchPosts()" debounce=500></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-6 *ngFor="let post of posts">
        <ion-card>
          <ion-item text-wrap (click)="loadPost(post)">
            <img src="{{post.item_image}}"/>
          </ion-item>
          <ion-card-content>
            <ion-card-title>
              {{post.item_name}}
            </ion-card-title>
            <ion-card text-wrap *ngIf="post.item_description">
              <p padding [innerHtml]="post.item_description"></p>
            </ion-card>
          </ion-card-content>
          <ion-row no-padding>
            <ion-col text-center>
              <button ion-button icon-left clear (click)="favoritePost(post)">
                <ion-icon name='heart'></ion-icon>
              </button>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>

