<ion-header>
	<ion-navbar>
		<ion-buttons start>
			<!--<button menuToggle>-->
				<!--<ion-icon name="menu"></ion-icon>-->
			<!--</button>-->
		</ion-buttons>
		<ion-title>{{'FAVORITES' | translate}} </ion-title>
		<ion-buttons end>
	      <!--<button (click)="removeAllFavoritePosts()" ion-button icon-only>-->
	        <!--<ion-icon name="trash"></ion-icon>-->
	      <!--</button>-->
	    </ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item-sliding *ngFor="let post of favoritePosts">
            <ion-item (click)="loadPost(post)">

              <ion-card-content>
                <img src="{{post.item_image}}"/>

                <ion-card-title>
                  {{post.item_name}}
                </ion-card-title>
                <ion-card text-wrap *ngIf="post.item_description">
                  <p padding [innerHtml]="post.item_description"></p>
                </ion-card>
              </ion-card-content>


            </ion-item>
            <ion-item-options>
                <button primary (click)="removeFavoritePost(post)">Remove</button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-content>

<!--<ion-col col-6 *ngFor="let post of favoritePosts">-->

  <!--<ion-card>-->



    <!--<ion-item text-wrap (click)="loadPost(post)">-->

      <!--<img src="{{post.item_image}}"/>-->

    <!--</ion-item>-->



    <!--&lt;!&ndash;<ion-row no-padding>&ndash;&gt;-->
    <!--&lt;!&ndash;<ion-col text-left>&ndash;&gt;-->

    <!--&lt;!&ndash;</ion-col>&ndash;&gt;-->
    <!--&lt;!&ndash;<ion-col text-right>&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;<button ion-button clear (click)="loadPost(post)">&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;Read&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;</button>&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;<button ion-button icon-left clear (click)="favoritePost(post)">&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;<ion-icon name='heart'></ion-icon>&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;</button>&ndash;&gt;&ndash;&gt;-->

    <!--&lt;!&ndash;</ion-col>&ndash;&gt;-->
    <!--&lt;!&ndash;</ion-row>&ndash;&gt;-->



  <!--</ion-card>-->

<!--</ion-col>-->
