<ion-header>
	<ion-navbar>
		<ion-title *ngIf="post">{{post.item_name}}</ion-title>
		<ion-buttons end>
      <button ion-button icon-left clear (click)="favoritePost(post)">
        <ion-icon name='heart'></ion-icon>
      </button>
    </ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content class="post">
  <ion-list *ngIf="post">
    <ion-card>
        <ion-item text-wrap>
          <img src="{{post.item_image}}"/>
          <ion-card-title>
            {{post.item_name}}
          </ion-card-title>
          <!-- <h4 class="date">{{post.date | date: 'fullDate'}}</h4> -->
        </ion-item>

    </ion-card>

    <ion-card text-wrap *ngIf="post.item_description">
        <p padding [innerHtml]="post.item_description"></p>
    </ion-card>

  </ion-list>
</ion-content>
