<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="{{'HOME' | translate}}" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="{{'CATEGORIES' | translate}}" tabIcon="apps"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="{{'FAVORITES' | translate}}" tabIcon="heart"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="{{'ABOUT' | translate}}" tabIcon="information-circle"></ion-tab>

</ion-tabs>
